<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <h1 class='logo'>LOR-CHIEF</h1>
        <ul class='nav-list'>
            <li class='nav-item'>Home</li>
            <li class='nav-item'>Match-history</li>
            <li class='nav-item'>About-us</li>
        </ul>
    </nav>


    <h2 class='search-header'>Enter your username and region to find your LoR histoy</h2>

    <div class="search-form">
        <form class='search-form' action="\" method="POST">
            <label class='search-label' for="">Username:</label>
            <input class='search-field' type="text" name='username'>
            <label class='search-label' for="">Region:</label>
            <input class='search-field' type="text" name='region'>
            <button class='search-button' type="submit">Get History</button>
        </form>
    </div>





</body>
</html>